.SwiperSVTweek {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  height: min-content;
  width: 300px;
  background-color: rgba(67, 236, 20, 0.665);
  // opacity: 0.5;
  border-radius: 8px;
  padding: 12px;
}

.mainTweek {
  display: flex;
  flex-direction: column;


}

.disable {
  display: none;
}