.SwiperSVTweek {
  font-size: 4px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  height: min-content;
  width: 200px;
  background-color: rgba(250, 250, 250, 0.587);
  // opacity: 0.5;
  border-radius: 4px;
  padding: 4px;
}

.mainTweek {
  display: flex;
  flex-direction: column;


}

.disable {
  display: none;
}